/*
 * Dropdwn Component
 *
 */

$dropdown__spacing: 1.25rem;
$dropdown__spacing--sm: $dropdown__spacing / 2;
$dropdown__spacing--lg: $dropdown__spacing * 2;

#dropdown {
  margin-top: $dropdown__spacing;

  &.active {
    .dropdown__chevron {
      transform: rotate(180deg);
    }

    .dropdown__container {
      display: block;
    }

    .dropdown__header {
      background-color: $base-color-purple;
      border: 2px solid rgba($base-color-black, .25);
      color: $base-color-white;
    }
  }
}

.dropdown__container {
  display: none;
}

.dropdown__header {
  background-color: $base-color-white;
  border: 2px solid #e9e1dc;
  display: flex;
  justify-content: space-between;
  padding: $dropdown__spacing;
  transition-duration: .15s;
  transition-timing-function: ease-in-out;

  &:hover {
    cursor: pointer;
    background-color: rgba($base-color-purple, 0.25);
    border: 2px solid rgba($base-color-black, 0.125);
  }
}

ul.dropdown__list {
  background-color: $base-color-white;
  border-left: 2px solid rgba($base-color-black, 0.125);
  border-right: 2px solid rgba($base-color-black, 0.125);
  border-top: 2px solid rgba($base-color-black, 0.125);
  display: flex;
  flex-direction: column;
  gap: $dropdown__spacing--sm / 2;
  list-style: none;
  margin-bottom: 0;
  max-height: 270px;
  overflow-y: scroll;
  padding: $dropdown__spacing--sm;

  &::-webkit-scrollbar {
      width: 8px;
  }

  &::-webkit-scrollbar-track {
      background: rgba($base-color-purple, .1);
  }

  &::-webkit-scrollbar-thumb {
      background: rgba($base-color-purple, .75);

    &:hover {
      background-color: rgba($base-color-purple, .65);
    }
  }


  li.dropdown__item {
    display: flex;
    gap: $dropdown__spacing;
    padding: $dropdown__spacing--sm;
    transition-duration: .15s;
    transition-timing-function: ease-in-out;

    .dropdown__item-img {
      aspect-ratio: 1 / 1;
      max-width: 50px;
      object-fit: cover;
    }

    img, strong, span {
      pointer-events: none;
    }

    &:hover {
      background-color: rgba($base-color-purple, 0.15);
      color: $base-color-black;
      cursor: pointer;
    }
  }

  li.dropdown__item--selected {
    background-color: rgba($base-color-purple, 0.25);

    &:hover {
      background-color: rgba($base-color-purple, 0.35);
    }
  }

  .dropdown__item-meta {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .dropdown__item-title {
    font-size: 1.25rem;
  }
}

.dropdown__selection {
  background-color: $base-color-white;
  border-left: 2px solid rgba($base-color-black, 0.125);
  border-right: 2px solid rgba($base-color-black, 0.125);
  border-bottom: 2px solid rgba($base-color-black, 0.125);
  display: flex;
  justify-content: space-between;
  padding: $dropdown__spacing;
}

.dropdown__selection-overview {
  display: flex;
  align-items: center;
}

.dropdown__selection-submit {
  background-color: $base-color-purple;
  border: 2px solid $base-color-purple;
  color: $base-color-cream;
  cursor: pointer;
  font-weight: bold;
  padding: $dropdown__spacing--sm;
  transition-duration: .15s;
  transition-timing-function: ease-in-out;

  &:hover {
    background-color: rgba($base-color-purple, .75);
    border: 2px solid rgba($base-color-purple, .75);
  }

  &:disabled {
    background-color: rgba($base-color-black, .15);
    border: 2px solid rgba($base-color-black, .15);
    color: rgba($base-color-black, .5);
    cursor: not-allowed;
  }
}

.dropdown__chevron {
  transform: rotate(0);
  transition-duration: .15s;
  transition-timing-function: ease-in-out;
}

.dropdwn__extra-features {
  background-color: $base-color-white;
  border-left: 2px solid rgba($base-color-black, 0.125);
  border-right: 2px solid rgba($base-color-black, 0.125);
  border-top: 2px solid rgba($base-color-black, 0.125);
  display: none;
  flex-direction: row;
  gap: $dropdown__spacing--sm / 2;
  justify-content: space-between;
  list-style: none;
  margin-top: $dropdown__spacing--sm;
  max-height: 270px;
  overflow-y: scroll;
  padding: $dropdown__spacing;

  input {
    border: 0;
    height: 1.5rem;
    padding: 0 $dropdown__spacing--sm;
    font-size: 1.25rem;
  }

  .dropdwn__datepicker {
    color: $base-color-purple;
    font-size: 1.25rem;
  }

  &.active {
    display: flex;
    margin-bottom: -16px;
  }
}
