/*
 * Global Styles
 *
 */

*, *::before, *::after {
  box-sizing: border-box;
}


html,
body {
  background-color: $bg-color;
  font-family: $font-primary;
}

.container {
  max-width: 450px;
  margin: 0 auto;
  padding: 0 1rem;
}

h1 {
  margin-bottom: 0;
}

// Additional features
.addtional_features {
  color: $base-color-purple;
  
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}
